.site-body{
    font-family:'Roboto';
    background-color: #EEEEEE;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
}

.site-header {
    Color: white;
    background-color: #8AE3A8;
    font-weight: bold;
    margin: 0px;
    padding: 5px;
    border: 3px solid #8AE3A8;
    border-bottom-color: black;
}

.play-area {
    justify-content: center;
    margin: 50px 10%;
    display: grid;
}

.game-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
}

.game-hint {
    margin: 0px;
    margin-top: 20px;
    text-align: center;
    text-overflow: wrap;
    border-bottom: 1px solid gray;
}

.word-pool {
    display: flex;
    margin-bottom: 20px;
}

.words {
    flex: 0 1 28%;
    min-width: 256px;
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
}

.def-pool {
    display: flex;
    margin-top: 20px;
}